code {
  background-color: black;
  color: #AAAAAA;
  padding-left: 3px;
  padding-right: 3px;
}

pre {
  padding: 3px;
  margin-left: 1em;
  margin-right: 1em;
  background-color: black;
}

pre code {
  padding-left: 0;
  padding-right: 0;
}

img {
  border: 2px solid black;
  -moz-box-shadow: 3px 3px 4px #111111;
  -webkit-box-shadow: 3px 3px 4px #111111;
  box-shadow: 3px 3px 4px #111111;
}

kbd {
  display: inline-block;
  padding: 0 0.5em;
  font-weight: bold;
  font-family: sans-serif;
  color: black;
  background-color: white;
  border: 1px solid black;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 4px;
  white-space: nowrap;
}
