#content {
  padding-bottom: 1.5em;
}


#teaserdiv {
  text-align: center;
  position: relative;
  cursor: pointer;
}

#teaserdiv:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#teaserdiv.paused:before {
  background: url('/images/play_button.png') center no-repeat;
}
