figure {
  display: inline-block;
  margin: 4px;
  padding: 6px;
  background: #111;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

figure > a:link, figure > a:visited {
  text-decoration: none;
}

figure img {
  display: inline-block;
  vertical-align: bottom;
}

#content > div {
  margin-left: 0;
  margin-right: 0;
}
