* { margin: 0; padding: 0; }
*, *:before, *:after { box-sizing: inherit; }

html {
  background: #181818 url('../images/random_earth_variations.png') top left repeat;
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.4em;
  color: white;
  font-size: 12pt;
  overflow-y: scroll;
}

img { border-width: 0; }

p {
  margin: 0.7em 1em;
}

#nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0,0,0,0.5);
  padding: 5px 0;
  font-size: 16pt;
  z-index: 50;
  text-align: center;
}

#nav ul {
  list-style: none;
  margin: 0 5px;
}

#nav li {
  list-style: none;
  display: inline-block;
  margin-left: 15px;
}

#nav a, #nav a:link, #nav:visited {
  display: block;
  color: white;
  margin-bottom: 3px;
  text-decoration: none;
}

#nav a:hover, #nav a:active {
  margin-bottom: 0;
  border-bottom: 3px solid white;
}

#nav:hover {
  background: rgba(0,0,0,0.75);
}

#content, #footer {
  -moz-box-shadow: 3px 3px 4px #111111;
  -webkit-box-shadow: 3px 3px 4px #111111;
  box-shadow: 3px 3px 4px #111111;
}

#content {
  position: relative;
  width: 800px;
  margin: 50px auto 15px;
  padding: 1.5em 0.5em;
  background: url('../images/irongrip.png');
  border: 2px solid black;

  -webkit-border-top-left-radius: 64px;
  -moz-border-radius-topleft: 64px;
  border-top-left-radius: 64px;
}

#content h1 {
  margin-left: 64px;
  text-shadow: 4px 4px 2px rgb(31, 31, 31);
}
#content h2 { text-shadow: 3px 3px 2px rgb(31, 31, 31); }

#content h3 { text-shadow: 2px 2px 2px rgb(31, 31, 31); }

#content h4 { text-shadow: 1px 1px 1px rgb(31, 31, 31); font-style: italic; }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.75em;
}

#content table {
  margin-bottom: 16px;
  width: 100%;
}

#content p:last-child {
  margin-bottom: 0;
}

#content #logo {
  width: 64px;
  height: 64px;
  background-image: url('../images/logo_64.png');
  position: absolute;
  top: -8px;
  left: -8px;
  margin: 0;
}

a:link, a:visited {
  color: white;
}

a:hover, a:active {
  color: rgb(200,200,200);
}

#content ul {
  margin: 0 0 1em 1em;
}

#content p + ul {
  margin-top: -0.4em;
  margin-left: 1.5em;
}

#content li {
  margin-left: 1em;
}

#footer {
  width: 800px;
  margin: 10px auto 15px;
  padding: 10px;
  background: url('../images/irongrip.png');
  border: 2px solid black;
  text-align: center;
}

#teaserdiv {
  width: 720px;
  height: 400px;
  margin: 0 auto;
}

video {
  outline: 0;
  border: 2px solid black;
  -moz-box-shadow: 3px 3px 4px #111111;
  -webkit-box-shadow: 3px 3px 4px #111111;
  box-shadow: 3px 3px 4px #111111;
}

div.media figure {
  display: inline-block;
  padding: 6px;
}

div.media figure > a:link, div.media figure > a:visited {
  text-decoration: none;
}

div.media figure img {
  display: inline-block;
  vertical-align: bottom;
}

a.download:link, a.download:visited {
  margin: 0.5em;
  padding: 6px;
  background: #111;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  overflow: hidden;
  display: block;
  text-decoration: none;
}

a.download:hover, a.download:active {
  color: white;
  background: #181818;
}

a.download img {
  float: left;
  margin-right: 20px;
}

a.download p {
  margin: 0;
  padding: 0;
}

a.download .os,
a.download .desc,
a.download .version {
  line-height: normal;
  margin-bottom: 5px;
}

a.download .os {
  font-size: 44pt;
  font-weight: 700;
}

a.download .version,
a.download .desc {
  font-size: 16pt;
  margin-left: 180px;
}

code {
  background-color: black;
  color: #AAAAAA;
  padding-left: 3px;
  padding-right: 3px;
}

pre {
  padding: 3px;
  background-color: black;
  white-space: pre;
  word-wrap: break-word;
  margin: 0.7em 1em;
}

pre code {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: pre-wrap;
  padding: 0;
}

code.hljs {
  white-space: pre; 
  overflow-x: scroll; 
}

div.media img, div.documentation img {
  border: 2px solid black;
  -moz-box-shadow: 3px 3px 4px #111111;
  -webkit-box-shadow: 3px 3px 4px #111111;
  box-shadow: 3px 3px 4px #111111;
}

kbd {
  display: inline-block;
  padding: 0 0.5em;
  font-weight: bold;
  font-family: sans-serif;
  color: black;
  background-color: white;
  border: 1px solid black;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 4px;
  white-space: nowrap;
}

table {
  border-collapse: collapse;
}

table p {
  margin: 0;
}

table td {
  border: 1px solid #8e8e8e;
  padding: 10px;
}

table th {
  padding-bottom: 10px;
}

table td:first-child {
  border-left-color: transparent;
}

table td:last-child {
  border-right-color: transparent;
}

table tr:last-child td {
  border-bottom-color: transparent;
}

.since {
  background: #111;
  border-radius: 4px;
  padding: 4px;
}
