---
title: Credits
section: credits
permalink: /credits/
---

{% extends "_layouts/page.html.twig" %}

{% block content %}
    <h1>Credits</h1>
    <p>This website uses various third-party resources. These are documented here.</p>

    <h2>Graphics</h2>

    <ul>
      <li>The BZFlag logo (the red tank icon) and the favicon (the blue tank icon) is copyright Tim Riker and licensed under the LGPL.</li>
      <li><a href="http://subtlepatterns.com/?p=944">Iron Grip</a> by <a href="http://www.tonykinard.net/">Tony Kinard</a> - <a href="https://creativecommons.org/licenses/by/3.0/">CC-BY 3.0 Unported</a> License</li>
      <li><a href="http://subtlepatterns.com/?p=319">Random Grey Variations</a> by Stefan Aleksi&#x107; - <a href="https://creativecommons.org/licenses/by/3.0/">CC-BY 3.0 Unported</a> License</li>
      <li>Source code icon from <a href="https://web.archive.org/web/20170102220803/http://www.icon-king.com/projects/nuvola/">Nuvola</a> - LGPL 2.1 License</li>
      <li>macOS icon from <a href="https://www.everaldo.com/crystal/">Crystal Project</a> - LGPL 2.1 License</li>
      <li>Windows icon from <a href="https://sourceforge.net/projects/openiconlibrary/">Open Icon Library</a> - Public Domain</li>
      <li>Operating system logos are copyright and/or trademark their respective owners.</li>
      <li><a href="https://thenounproject.com/icon/147531/">Megaphone by Creative Stall</a> from the Noun Project - CC-BY 3.0 US License</li>
      <li><a href="https://thenounproject.com/icon/83827/">debug by Lemon Liu</a> from the Noun Project - CC-BY 3.0 US License</li>
      <li><a href="https://thenounproject.com/icon/1230262/">Book by Deemak Daksina</a> from the Noun Project - CC-BY 3.0 US License</li>
      <li><a href="https://thenounproject.com/icon/790491/">FAQ by ProSymbols</a> from the Noun Project - CC-BY 3.0 US License</li>
      <li><a href="https://thenounproject.com/icon/888687/">chat icon</a> from the Starter Icons Collection from the Noun Project - Public Domain</li>
    </ul>

    <h2>JavaScript</h2>

    <ul>
      <li><a href="https://mootools.net/">MooTools</a> - MIT License</li>
      <li><a href="http://ryanflorence.com/slideshow/">MooTools SlideShow</a> - MIT License</li>
      <li><a href="https://mootools.net/forge/p/loop">Loop</a> - MIT License</li>
      <li><a href="https://web.archive.org/web/20150916150833/http://reghellin.com:80/milkbox/">Milkbox</a> - MIT License</li>
      <li><a href="https://github.com/selz/plyr">Plyr</a> - MIT License</li>
    </ul>

    <h2>Other</h2>

    <ul>
      <li><a href="https://highlightjs.org/">highlight.js (just the monokai.css file for styling)</a> - BSD 3-Clause "New" or "Revised" License</li>
    </ul>
{% endblock %}
