---
title: Credits
section: credits
permalink: /credits.html
---

{% extends "_layouts/layout.twig" %}

{% block content %}
    <p>This website uses various third-party resources. These are documented here.</p>

    <h2>Graphics</h2>

    <ul>
      <li>The BZFlag logo (the red tank icon) is copyright Tim Riker and licensed under the LGPL.</li>
      <li><a href="http://subtlepatterns.com/?p=944">Iron Grip</a> by <a href="http://www.tonykinard.net/">Tony Kinard</a> - <a href="http://creativecommons.org/licenses/by/3.0/">CC-BY 3.0 Unported</a> License</li>
      <li><a href="http://subtlepatterns.com/?p=319">Random Grey Variations</a> by <a href="http://www.mentalwarddesign.com/">Stefan Aleksić</a> - <a href="http://creativecommons.org/licenses/by/3.0/">CC-BY 3.0 Unported</a> License</li>
      <li>Source code icon from <a href="http://www.icon-king.com/projects/nuvola/">Nuvola</a> - LGPL 2.1 License</li>
      <li>macOS icon from <a href="http://everaldo.com/crystal/">Crystal Project</a> - LGPL 2.1 License</li>
      <li>Windows icon from <a href="http://openiconlibrary.sourceforge.net/">Open Icon Library</a> - Public Domain</li>
      <li>Operating system logos are copyright their respective owners.</li>
    </ul>

    <h2>JavaScript</h2>

    <ul>
      <li><a href="http://mootools.net/">MooTools</a> - MIT License</li>
      <li><a href="http://ryanflorence.com/slideshow/">MooTools SlideShow</a> - MIT License</li>
      <li><a href="http://mootools.net/forge/p/loop">Loop</a> - MIT License</li>
      <li><a href="http://reghellin.com/milkbox/">Milkbox</a> - MIT License</li>
      <li><a href="https://github.com/selz/plyr">Plyr</a> - MIT License</li>
    </ul>
{% endblock %}
