---
title: Help
section: help
permalink: /help.html
---

{% extends "_layouts/layout.twig" %}

{% block content %}
    <div>
      There are lots of ways to get help with BZFlag! Many of these are also useful if you want to help contribute to the game in some way.
    </div>

    <h2>Quick Start</h2>

    <div>
      New to the game and want to get started quickly? Check out our <a href="http://wiki.bzflag.org/Getting_Started">Quick Start Guide</a>!
    </div>

    <h2>IRC</h2>

    <div>
      BZFlag has the following IRC channels on Freenode (irc.freenode.net):
      <ul>
        <li>#BZFlag (development and support) - <a href="http://webchat.freenode.net?channels=bzflag">Launch Web IRC Client</a></li>
        <li>#BZFlag-chat (general player talk) - <a href="http://webchat.freenode.net?channels=bzflag-chat">Launch Web IRC Client</a></li>
      </ul>
    </div>

    <h2>Web Forums</h2>

    <div>
      BZFlag hosts a <a href="http://forums.bzflag.org/">forum</a> for registered users. This also serves as a <a href="http://wiki.bzflag.org/Global_Registration">player registration system</a> for the game.
    </div>

    <h2>Common Support Issues</h2>

    <div>
      The <a href="http://wiki.bzflag.org/Common_Support_Issues">Common Support Issues</a> page lists a number of the common problems with the game, and their resolutions.
    </div>

    <h2>Documentation</h2>

    <div>
      The game is documented via a series of manual pages (or man pages).
    </div>

    <div>
      On Microsoft Windows the manual pages are in HTML format, and are available from the start menu.
    </div>

    <div>
      On Linux and other Unix-like operating systems, they are installed by default and can be accessed by using the man command and one of the following pages:
      <ul>
        <li>bzflag</li>
        <li>bzfs</li>
        <li>bzadmin</li>
        <li>bzw</li>
      </li>
    </div>

    <h2>Further Support</h2>

    <div>
      If none of these methods provide a resolution to your problem, the project maintains a <a href="https://github.com/BZFlag-Dev/bzflag/issues">issue tracker on GitHub</a> where an issue can be opened.
    </div>
{% endblock %}
