---
title: Home
section: home
permalink: /
metadescription: BZFlag is a free 3D online multi-player multi-platform tank battle game.
---

{% extends "_layouts/layout.twig" %}

{% block head %}
  <style>#content{padding-bottom:1.5em;}.plyr__play-large{cursor:pointer;}div.plyr__controls{display:none;}</style>
  <link rel="stylesheet" href="/css/plyr.css" />
{% endblock %}

{% block content %}
    <p>BZFlag is a free 3D online multi-player multi-platform tank battle game. It runs on Windows, macOS, Linux, BSD, and other platforms. It was one of the most popular games ever on Silicon Graphics machines and continues to be developed and improved to this day.</p>
    <div id="teaserdiv">
      <video id="teaser" width="720" height="400" loop="loop" preload="none" poster="/images/videothumb/bzteaser.jpg" controls="controls">
        <source src="/vid/bzteaser.mp4" type="video/mp4" />
        <source src="/vid/bzteaser.webm" type="video/webm" />
      </video>
    </div>
{% endblock %}

{% block scripts %}
  <script src="/js/plyr.js"></script>
  <script>const player = new Plyr('#teaser', {iconUrl:'/images/plyr.svg',blankVideo:'/vid/blank.mp4',controls:['play-large'],disableContextMenu:false});</script>
{% endblock %}
