---
title: Home
section: home
permalink: /index.html
---

{% extends "_layouts/layout.twig" %}

{% block head %}
  <style>#content{padding-bottom:1.5em;}.plyr__play-large{cursor:pointer;}div.plyr__controls{display:none;}</style>
  <link rel="stylesheet" href="/css/plyr.css" />
{% endblock %}

{% block content %}
    <p>BZFlag is a 3D networked multi-player multi-platform tank battle game. It runs on Windows, Mac OSX, Linux, BSD, and other platforms. It was one of the most popular games ever on Silicon Graphics machines and continues to be developed and improved to this day.</p>
    <div id="teaserdiv">
      <video width="720" height="400" id="teaser" loop="loop" preload="none" poster="/images/videothumb/bzteaser.jpg" controls="controls">
        <source src="/vid/bzteaser.mp4" type="video/mp4" />
        <source src="/vid/bzteaser.webm" type="video/webm" />
      </video>
    </div>
{% endblock %}

{% block scripts %}
  <script src="/js/plyr.js"></script>
  <script>plyr.setup({iconUrl:'/images/plyr.svg',controls:['play-large'],disableContextMenu:false});</script>
{% endblock %}
