---
title: Home
section: home
permalink: /index.html
---

{% extends "_layouts/layout.twig" %}

{% block head %}
  <link rel="stylesheet" href="/css/home.css" />
{% endblock %}

{% block precontent %}
  <div id="slideshow">
    <div id="slide1"><div class="caption"><span>Free Online Multiplayer Action!</span></div></div>
    <div id="slide2" style="display:none;"><div class="caption"><span>Open Source - Free as in speech</span></div></div>
    <div id="slide3" style="display:none;"><div class="caption"><span>Competitive League Play</span></div></div>
    <div id="slide4" style="display:none;"><div class="caption"><span>Low system requirements</span></div></div>
    <div id="slide5" style="display:none;"><div class="caption"><span>A clean retro feel</span></div></div>
    <div id="slide6" style="display:none;"><div class="caption"><span>It's a bird, it's a plane! No, it's a flying tank!</span></div></div>
  </div>
{% endblock %}

{% block content %}
    <div>BZFlag is a free online multiplayer 3D tank battle game. The name originates from "Battle Zone Capture The Flag". It runs on Windows, Mac OSX, Linux, BSD, and other platforms. It was one of the most popular games ever on Silicon Graphics machines and continues to be developed and improved to this day.</div>
    <h2>About the project</h2>
    <div>
      BZFlag is developed by a team of volunteers that work on fixing bugs, adding features, and generally enhancing the gameplay experience. The game is coded primarily in C/C++ and uses OpenGL for cross-platform graphics. Check out the <a href="http://wiki.bzflag.org/Project_History">project history</a> for more information.
    </div>

    <h2>Get Involved</h2>
    <div>
      Found a bug, a missing feature, or just something you think should be improved? Get involved and help make BZFlag even better! Because we are open-source, everyone can help contribute to the game. You don't even have to be a programmer to help out. You could work on writing/improving <a href="http://wiki.bzflag.org/">wiki</a> pages, write documentation, etc. Check out the <a href="/help{% if site.localDevelopment %}.html{% endif %}">help</a> page for more information!
    </div>
{% endblock %}

{% block scripts %}
  <script src="/js/mootools-core-1.6.0-compressed.js"></script>
  <script src="/js/slideshow-loop-min.js"></script>
  <script>
  window.addEvent('domready', function() {
    $$('#slideshow > *').setStyle('display', '');
    var slideshow = new SlideShow('slideshow', {
      transition: 'pushLeft',
      delay: 8000,
      duration: 800,
      autoplay: true
    });
  });
  </script>
{% endblock %}
