---
title: Media
section: media
permalink: /media.html
---

{% extends "_layouts/layout.twig" %}

{% block head %}
  <link rel="stylesheet" href="/css/milkbox.css" />
  <link rel="stylesheet" href="/css/media.css" />
{% endblock %}

{% block content %}
   <h2>BZFlag 2.4.x Screenshots</h2>
    
    <div class="screenshots">
      <a href="/images/screenshots/dantes_inferno_01.jpg" data-milkbox="media" title=""><img src="/images/screenshots/dantes_inferno_01_t.jpg" width=240 height=150 alt=""
      /></a><a href="/images/screenshots/dantes_inferno_02.jpg" data-milkbox="media" title=""><img src="/images/screenshots/dantes_inferno_02_t.jpg" width=240 height=150 alt=""
      /></a><a href="/images/screenshots/dantes_inferno_03.jpg" data-milkbox="media" title=""><img src="/images/screenshots/dantes_inferno_03_t.jpg" width=240 height=150 alt=""
      /></a><a href="/images/screenshots/aa_bridge_crossing_01.jpg" data-milkbox="media" title=""><img src="/images/screenshots/aa_bridge_crossing_01_t.jpg" width=240 height=150 alt=""
      /></a><a href="/images/screenshots/aa_bridge_crossing_02.jpg" data-milkbox="media" title=""><img src="/images/screenshots/aa_bridge_crossing_02_t.jpg" width=240 height=150 alt=""
      /></a><a href="/images/screenshots/aa_bridge_crossing_03.jpg" data-milkbox="media" title=""><img src="/images/screenshots/aa_bridge_crossing_03_t.jpg" width=240 height=150 alt=""
      /></a><a href="/images/screenshots/channel_crossing_01.jpg" data-milkbox="media" title=""><img src="/images/screenshots/channel_crossing_01_t.jpg" width=240 height=150 alt=""
      /></a><a href="/images/screenshots/channel_crossing_02.jpg" data-milkbox="media" title=""><img src="/images/screenshots/channel_crossing_02_t.jpg" width=240 height=150 alt=""
      /></a><a href="/images/screenshots/channel_crossing_03.jpg" data-milkbox="media" title=""><img src="/images/screenshots/channel_crossing_03_t.jpg" width=240 height=150 alt=""
      /></a><a href="/images/screenshots/churchyard_01.jpg" data-milkbox="media" title=""><img src="/images/screenshots/churchyard_01_t.jpg" width=240 height=150 alt=""
      /></a><a href="/images/screenshots/churchyard_02.jpg" data-milkbox="media" title=""><img src="/images/screenshots/churchyard_02_t.jpg" width=240 height=150 alt=""
      /></a><a href="/images/screenshots/churchyard_03.jpg" data-milkbox="media" title=""><img src="/images/screenshots/churchyard_03_t.jpg" width=240 height=150 alt=""
      /></a><a href="/images/screenshots/clay_hills_01.jpg" data-milkbox="media" title=""><img src="/images/screenshots/clay_hills_01_t.jpg" width=240 height=150 alt=""
      /></a><a href="/images/screenshots/clay_hills_02.jpg" data-milkbox="media" title=""><img src="/images/screenshots/clay_hills_02_t.jpg" width=240 height=150 alt=""
      /></a><a href="/images/screenshots/clay_hills_03.jpg" data-milkbox="media" title=""><img src="/images/screenshots/clay_hills_03_t.jpg" width=240 height=150 alt=""
      /></a><a href="/images/screenshots/collaborator_2010_01.jpg" data-milkbox="media" title=""><img src="/images/screenshots/collaborator_2010_01_t.jpg" width=240 height=150 alt=""
      /></a><a href="/images/screenshots/delirious_city_01.jpg" data-milkbox="media" title=""><img src="/images/screenshots/delirious_city_01_t.jpg" width=240 height=150 alt=""
      /></a><a href="/images/screenshots/delirious_city_02.jpg" data-milkbox="media" title=""><img src="/images/screenshots/delirious_city_02_t.jpg" width=240 height=150 alt=""
      /></a><a href="/images/screenshots/delirious_city_03.jpg" data-milkbox="media" title=""><img src="/images/screenshots/delirious_city_03_t.jpg" width=240 height=150 alt=""
      /></a><a href="/images/screenshots/delirious_city_04.jpg" data-milkbox="media" title=""><img src="/images/screenshots/delirious_city_04_t.jpg" width=240 height=150 alt=""
      /></a><a href="/images/screenshots/delirious_city_05.jpg" data-milkbox="media" title=""><img src="/images/screenshots/delirious_city_05_t.jpg" width=240 height=150 alt=""
      /></a><a href="/images/screenshots/delirious_city_06.jpg" data-milkbox="media" title=""><img src="/images/screenshots/delirious_city_06_t.jpg" width=240 height=150 alt=""
      /></a><a href="/images/screenshots/desert_war_01.jpg" data-milkbox="media" title=""><img src="/images/screenshots/desert_war_01_t.jpg" width=240 height=150 alt=""
      /></a><a href="/images/screenshots/gamma_quadrant_01.jpg" data-milkbox="media" title=""><img src="/images/screenshots/gamma_quadrant_01_t.jpg" width=240 height=150 alt=""
      /></a><a href="/images/screenshots/gamma_quadrant_02.jpg" data-milkbox="media" title=""><img src="/images/screenshots/gamma_quadrant_02_t.jpg" width=240 height=150 alt=""
      /></a><a href="/images/screenshots/h2o_01.jpg" data-milkbox="media" title=""><img src="/images/screenshots/h2o_01_t.jpg" width=240 height=150 alt=""
      /></a><a href="/images/screenshots/h2o_02.jpg" data-milkbox="media" title=""><img src="/images/screenshots/h2o_02_t.jpg" width=240 height=150 alt=""
      /></a><a href="/images/screenshots/h2o_03.jpg" data-milkbox="media" title=""><img src="/images/screenshots/h2o_03_t.jpg" width=240 height=150 alt=""
      /></a><a href="/images/screenshots/h2o_04.jpg" data-milkbox="media" title=""><img src="/images/screenshots/h2o_04_t.jpg" width=240 height=150 alt=""
      /></a><a href="/images/screenshots/h2o_05.jpg" data-milkbox="media" title=""><img src="/images/screenshots/h2o_05_t.jpg" width=240 height=150 alt=""
      /></a><a href="/images/screenshots/high_rise_havoc_01.jpg" data-milkbox="media" title=""><img src="/images/screenshots/high_rise_havoc_01_t.jpg" width=240 height=150 alt=""
      /></a><a href="/images/screenshots/home_sweet_home_01.jpg" data-milkbox="media" title=""><img src="/images/screenshots/home_sweet_home_01_t.jpg" width=240 height=150 alt=""
      /></a><a href="/images/screenshots/home_sweet_home_02.jpg" data-milkbox="media" title=""><img src="/images/screenshots/home_sweet_home_02_t.jpg" width=240 height=150 alt=""
      /></a><a href="/images/screenshots/japanese_castles_01.jpg" data-milkbox="media" title=""><img src="/images/screenshots/japanese_castles_01_t.jpg" width=240 height=150 alt=""
      /></a><a href="/images/screenshots/metropolis_01.jpg" data-milkbox="media" title=""><img src="/images/screenshots/metropolis_01_t.jpg" width=240 height=150 alt=""
      /></a><a href="/images/screenshots/mystic_valley_01.jpg" data-milkbox="media" title=""><img src="/images/screenshots/mystic_valley_01_t.jpg" width=240 height=150 alt=""
      /></a><a href="/images/screenshots/mystic_valley_02.jpg" data-milkbox="media" title=""><img src="/images/screenshots/mystic_valley_02_t.jpg" width=240 height=150 alt=""
      /></a><a href="/images/screenshots/pandemonium_01.jpg" data-milkbox="media" title=""><img src="/images/screenshots/pandemonium_01_t.jpg" width=240 height=150 alt=""
      /></a><a href="/images/screenshots/pandemonium_02.jpg" data-milkbox="media" title=""><img src="/images/screenshots/pandemonium_02_t.jpg" width=240 height=150 alt=""
      /></a><a href="/images/screenshots/pandemonium_03.jpg" data-milkbox="media" title=""><img src="/images/screenshots/pandemonium_03_t.jpg" width=240 height=150 alt=""
      /></a><a href="/images/screenshots/space_invaders_01.jpg" data-milkbox="media" title=""><img src="/images/screenshots/space_invaders_01_t.jpg" width=240 height=150 alt=""
      /></a><a href="/images/screenshots/the_battle_of_midway_island_01.jpg" data-milkbox="media" title=""><img src="/images/screenshots/the_battle_of_midway_island_01_t.jpg" width=240 height=150 alt=""
      /></a><a href="/images/screenshots/the_battle_of_midway_island_02.jpg" data-milkbox="media" title=""><img src="/images/screenshots/the_battle_of_midway_island_02_t.jpg" width=240 height=150 alt=""
      /></a><a href="/images/screenshots/the_battle_of_midway_island_04.jpg" data-milkbox="media" title=""><img src="/images/screenshots/the_battle_of_midway_island_04_t.jpg" width=240 height=150 alt=""
      /></a><a href="/images/screenshots/xenon_ctf_01.jpg" data-milkbox="media" title=""><img src="/images/screenshots/xenon_ctf_01_t.jpg" width=240 height=150 alt=""
      /></a><a href="/images/screenshots/xenon_ctf_02.jpg" data-milkbox="media" title=""><img src="/images/screenshots/xenon_ctf_02_t.jpg" width=240 height=150 alt=""
      /></a><a href="/images/screenshots/xenon_ctf_03.jpg" data-milkbox="media" title=""><img src="/images/screenshots/xenon_ctf_03_t.jpg" width=240 height=150 alt=""
      /></a>
    </div>
{% endblock %}

{% block scripts %}
  <script src="/js/mootools-core-1.6.0-compressed.js"></script>
  <script src="/js/mootools-more-1.6.0-compressed.js"></script>
  <script src="/js/milkbox-yc.js"></script>
  <script>
    Milkbox = new Class({
      Extends: Milkbox,
      checkFileType:function(file,type){
        if (type == "html") {
          var href = (typeOf(file) != 'string') ? file.href : file;
          if (href.test(/(youtube-nocookie|youtube)\.com\/embed/))
            return true;
        }

        return this.parent(file, type);
      }
    });

    MilkboxGallery = new Class({
      Extends: MilkboxGallery,
      check_extension:function(string){
        return (string.test(/(youtube-nocookie|youtube)\.com\/embed/) || this.parent(string));
      }
    });

    window.addEvent('domready', function(){
      milkbox = new Milkbox({ centered:true });
    });
  </script>
{% endblock %}
