---
title: Media
section: media
permalink: /media/
---

{% extends "_layouts/page.html.twig" %}

{% from _self import media_screenshot_block %}

{% macro media_screenshot_block(screenshot) %}
    <div class="col-md-6 col-lg-4 mb-5 mb-md-4 mb-lg-3">
        <figure class="c-media-screenshot" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="{{ url(data.media.screenshots.url_formats.full|format(screenshot)) }}" itemprop="contentUrl">
                <img src="{{ url(data.media.screenshots.url_formats.thumbnail|format(screenshot)) }}" itemprop="thumbnail" alt="" />
            </a>
        </figure>
    </div>
{% endmacro %}

{% block content %}
    <h1>Screenshots</h1>
    <p class="mb-5">
        The map system of BZFlag allows for a wide variety of styles.
    </p>

    <div class="row" itemscope itemtype="http://schema.org/ImageGallery">
        {% for screenshot in data.media.screenshots.items -%}
            {{ media_screenshot_block(screenshot) }}
        {%- endfor %}
    </div>
{% endblock %}
