---
title: Media
section: media
permalink: /media.html
---

{% extends "_layouts/layout.twig" %}

{% block head %}
  <link rel="stylesheet" href="/css/milkbox.css" />
{% endblock %}

{% block content %}
   <h2>Screenshots</h2>

    <div class="screenshots" itemscope itemtype="http://schema.org/ImageGallery">

      {% for screenshot in data.media.screenshots.items -%}
      <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ data.media.screenshots.url_formats.full|format(screenshot) }}" itemprop="contentUrl" data-milkbox="media">
          <img src="{{ data.media.screenshots.url_formats.thumbnail|format(screenshot) }}" itemprop="thumbnail" alt="" />
        </a>
      </figure>
      {%- endfor %}

    </div>
{% endblock %}

{% block scripts %}
  <script src="/js/mootools-core-1.6.0-compressed.js"></script>
  <script src="/js/mootools-more-1.6.0-compressed.js"></script>
  <script src="/js/milkbox-yc.js"></script>
  <script>
    var milkbox;
    Milkbox = new Class({
      Extends: Milkbox,
      checkFileType:function(file,type){
        if (type === "html") {
          var href = (typeOf(file) !== 'string') ? file.href : file;
          if (href.test(/(youtube-nocookie|youtube)\.com\/embed/))
            return true;
        }

        return this.parent(file, type);
      }
    });

    MilkboxGallery = new Class({
      Extends: MilkboxGallery,
      check_extension:function(string){
        return (string.test(/(youtube-nocookie|youtube)\.com\/embed/) || this.parent(string));
      }
    });

    window.addEvent('domready', function(){
      milkbox = new Milkbox({ centered:true });
    });
  </script>
{% endblock %}
