<footer class="site-footer b-top">
    <div class="container background-dark py-4 text-center">
        <div>
            <p class="m-0"><strong>BZFlag &amp; Associates</strong></p>
            <p class="m-0">
                <small>Copyright &copy; {{ 'now' | date('Y') }}</small>
            </p>
        </div>

        <ul class="site-footer__links mb-0">
            <li>
                <a href="#">GitHub</a>
            </li>
            <li>
                <a href="#">Credits</a>
            </li>
            <li>
                <a href="#">Privacy Policy</a>
            </li>
        </ul>
    </div>
</footer>
