<header class="site-header py-3 py-lg-4">
    <div class="container">
        <div class="row align-items-center flex-column flex-lg-row position-relative">
            <div class="col-lg-auto site-header__brand">
                <img src="{{ url('/assets/images/bzflag.svg') }}"
                     alt="BZFlag icon"
                >
                <span>BZFlag</span>
            </div>

            <button id="menu-toggle"
                    class="c-hamburger c-hamburger--htx"
                    aria-expanded="false"
                    aria-controls="navigation"
            >
                <span></span>
                <p class="sr-only">toggle menu</p>
            </button>

            <nav class="col-lg site-navigation" role="navigation">
                <ul id="navigation" class="site-navigation__links">
                    {% for link in data.navigation.links %}
                        {%- set url = link.url[0] == '/' ? url(link.url) : link.url -%}
                        <li>
                            <a href="{{ url }}">
                                {{- link.name -}}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>
</header>
