<header class="site-header py-3">
    <div class="container">
        <div class="row align-items-center flex-column flex-lg-row position-relative">
            <div class="col-lg-auto site-header__brand">
                <a href="{{ url('/') }}">
                    <img src="{{ url('/assets/images/bzflag-logo-combo.svg') }}"
                         alt="BZFlag"
                    >
                </a>
            </div>

            <button id="menu-toggle"
                    class="c-hamburger c-hamburger--htx"
                    aria-expanded="false"
                    aria-controls="navigation"
            >
                <span></span>
                <span class="sr-only">Mobile menu</span>
            </button>

            <nav class="col-lg site-navigation">
                <ul id="navigation" class="site-navigation__links" role="menu">
                    {% for link in data.navigation.links %}
                        {%- set url = link.url[0] == '/' ? url(link.url) : link.url -%}
                        <li>
                            <a href="{{ url }}" role="menuitem">
                                {{- link.name -}}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>
</header>
