<section class="row">
    <div class="col-lg-7">
        <header class="c-hgroup">
            <p class="c-hgroup__subtitle">What's in a name?</p>
            <h2 id="register-a-callsign" class="c-hgroup__title">Register a Callsign</h2>
        </header>

        <p class="mb-4">
            BZFlag allows players to register their name, also known as their callsign. Some servers provide additional benefits for registered users, such as being allows to vote in polls. Another benefit is that players can not use another player's registered callsign. To register a callsign, visit our forums and register an account. The username and password on the forums will be used as callsign and password in the game.
        </p>

        <p class="text-center text-md-left">
            <a href="https://forums.bzflag.org/" class="c-button">Register on our forums</a>
        </p>
    </div>
</section>
