<section>
    <h2 id="game-modes" class="c-page-split">Game Modes</h2>

    <div class="row my-5">
        <div class="col-md-6">
            <article>
                <header>
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            <img src="{{ url('/assets/images/getting-started/ctf-scene.png') }}"
                                 alt="Red tank capturing the green team flag"
                                 class="img-fluid mb-3"
                            >
                        </div>
                    </div>

                    <div class="c-hgroup">
                        <div class="c-hgroup__subtitle">It's all about the flag</div>
                        <h3 id="capture-the-flag" class="c-hgroup__title h2">Capture the Flag (CTF)</h3>
                    </div>
                </header>

                <p>
                    In CTF, each of the four main teams can have one or more team flags and one or more team bases, both colored to match their team. For each team, the objective is to capture enemy team flags by grabbing them and bringing them back to their own base. Each team also tries to prevent the enemy team from capturing their own flag.
                </p>
            </article>
        </div>

        <div class="col-md-6 flex-column align-self-end">
            <article>
                <header>
                    <img src="{{ url('/assets/images/getting-started/rabbit-hunters.png') }}"
                         alt="Two hunter tanks pursuing a rabbit tank"
                         class="img-fluid mb-3"
                    >

                    <div class="c-hgroup">
                        <div class="c-hgroup__subtitle">It's always rabbit season</div>
                        <h3 id="rabbit-chase" class="c-hgroup__title h2">Rabbit Chase</h3>
                    </div>
                </header>

                <p>
                    In this mode, a single Rabbit is chosen by the server. All of the other players will be Hunters. The Rabbit has the opportunity to score the most points, but it is also the most vulnerable. When the Rabbit is killed, a new Rabbit is selected by the server.
                </p>
            </article>
        </div>
    </div>

    <div class="row my-5">
        <article class="col-md-8 offset-md-2">
            <header>
                <img src="{{ url('/assets/images/getting-started/ffa-tanks.png') }}"
                     alt="Two red tanks on the left facing off with two blue tanks"
                     class="img-fluid mb-3"
                >

                <div class="c-hgroup">
                    <div class="c-hgroup__subtitle">No flags, just kills</div>
                    <h3 id="free-for-all" class="c-hgroup__title h2">Free For All (FFA)</h3>
                </div>
            </header>

            <p>
                In Free For All, also known as Free-style, the objective is to shoot enemy tanks to earn points. The four main teams should not shoot other members of their team as this will result in a penalty. Rogue players are allowed to shoot any tank, even other Rogues.
            </p>
        </article>
    </div>

    <div class="row my-5">
        <article class="col-md-8 offset-md-2">
            <header>
                <img src="{{ url('/assets/images/getting-started/offa-tanks.png') }}"
                     alt="Four purple team tanks facing off against each other"
                     class="img-fluid mb-3"
                >

                <div class="c-hgroup">
                    <div class="c-hgroup__subtitle">Friendly fire? Hah!</div>
                    <h3 id="open-ffa" class="c-hgroup__title h2">Open FFA</h3>
                </div>
            </header>

            <p>
                In OpenFFA, the objective is to shoot other tanks to earn points. Teams do not matter, and all tanks are allowed to shoot other tanks.
            </p>
        </article>
    </div>
</section>
