<section>
    <h2 id="flags" class="c-page-split">Flags</h2>

    <article class="my-5">
        <div class="row">
            <div class="col-8 offset-2 col-sm-6 offset-sm-3 col-md-4 offset-md-0">
                <img src="{{ url('/assets/images/getting-started/super-flags.png') }}"
                     alt="Green tank carrying a super flag"
                     class="img-fluid mb-3 mb-md-0"
                >
            </div>
            <div class="col-md-8">
                <header class="c-hgroup">
                    <h3 id="super-flags" class="c-hgroup__title h2">Super Flags</h3>
                </header>

                <p>
                    There are good super flags that provide some additional benefit, such as faster movement, a smaller tank, or different weapons like laser or guided missile. There are also bad super flags that disable parts of the tank or reduce performance of the tank. Examples of bad flag effects include radar jamming, reversed controls, left turn only, and a bouncy tank. Bad flags cannot be dropped manually and will normally have either a timer or will require finding an antidote flag.
                </p>

                <p>
                    View the flags documentation for a list of all official flags and their description. It is possible game servers to run plugins that add custom flags or modify the behavior of existing flags.
                </p>

                <p>
                    <a href="{{ url(pages['Flags']) }}"
                       class="c-button"
                    >
                        View Flag List
                    </a>
                </p>
            </div>
        </div>
    </article>
</section>
