@each $t_abbv, $type in $spacing_types {
    @each $bp in map-keys($breakpoints) {
        $breakpoint: $bp;

        @include respond-up($bp) {
            @each $s_abbv, $value in $spacing {
                $infix: if($breakpoint == 'xs', '', '-' + $breakpoint);

                .#{$t_abbv}#{$infix}-#{$s_abbv} {
                    #{$type}: $value !important;
                }

                @each $d_abbv, $rules in $spacing_directions {
                    .#{$t_abbv}#{$d_abbv}#{$infix}-#{$s_abbv} {
                        @each $rule in $rules {
                            #{$type}-#{$rule}: $value !important;
                        }
                    }
                }
            }
        }
    }
}

@each $s_abbv, $value in $spacing {
    @if $s_abbv != 'auto' {
        .gap-#{$s_abbv} {
            gap: $value !important;
        }

        .gap-x-#{$s_abbv} {
            column-gap: $value !important;
        }

        .gap-y-#{$s_abbv} {
            row-gap: $value !important;
        }
    }
}
