@each $t_abbv, $type in $spacing_types {
    @each $d_abbv, $rules in $spacing_directions {
        @each $s_abbv, $value in $spacing {
            $placeholders: (
                type: $t_abbv,
                dir: $d_abbv,
                value: $s_abbv
            );

            @include responsify('.%type%infix-%value', $placeholders) {
                @each $rule in $rules {
                    #{$type}: $value !important;
                }
            }

            @include responsify('.%type%dir%infix-%value', $placeholders) {
                @each $rule in $rules {
                    #{$type}-#{$rule}: $value !important;
                }
            }
        }
    }
}
