.c-alert {
    @include padding(x, 3);
    @include padding(y, 2);

    border: 2px solid rgba(#fff, 0.3);
    border-radius: $border-radius;

    p:last-child {
        margin-bottom: 0;
    }
}

.c-alert__title {
    @include margin(b, 2);

    font-weight: bold;
    margin-top: 0;

    &::before {
        @include margin(r, 2);
    }
}

.c-alert--error {
    background-color: #800000;

    .c-alert__title::before {
        content: '\2715';
    }
}

.c-alert--warning {
    background-color: #80601b;

    a {
        color: #ffed00;
        text-decoration: underline;
    }

    .c-alert__title::before {
        content: '\26A0';
    }
}

.c-alert--success {
    background-color: #1D5419;

    .c-alert__title::before {
        content: '\2713';
    }
}

.c-alert--info {
    background-color: #1B4F73;

    .c-alert__title::before {
        content: '\2139'
    }
}
