.c-button-group,
.c-button {
    background-color: $color-text-anchor;
    border-radius: $border-radius;
}

.c-button {
    @include padding(x, 3);
    @include padding(y, 2);

    box-shadow:
        hsl(39 100% 92% / 0.5) 0 2px 0 inset,
        hsl(39 100% 22% / 0.4) 0 -2px 0 0 inset,
        $box-shadow;
    color: $color-primary;
    text-decoration: none;

    &:focus,
    &:hover {
        background-image: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.1));
    }
}

.c-button--inverse {
    background-color: transparent;
    border: 1px solid $color-text-anchor;
    color: $color-text-primary;
}

.c-button--skinny {
    @include padding(y, 1);
}

.c-button-group {
    .c-button {
        background-color: transparent;
        border-radius: 0;
        box-shadow: none;

        &:nth-child(n + 2) {
            border-left: 1px solid rgba(#000, 0.5);
        }
    }
}

// Special overrides for anchors that use the .c-button class. This is necessary
// since anchors have rules that supersede classes due to specificity.
a {
    &.c-button {
        &,
        &:focus,
        &:hover {
            color: $color-primary;
            text-decoration: none;
        }
    }

    &.c-button--inverse {
        &,
        &:focus,
        &:hover {
            color: $color-text-anchor;
        }
    }
}
