.c-button-group,
.c-button {
    background-color: $color-text-anchor;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
}

.c-button {
    @extend .py-2;
    @extend .px-4;

    color: $color-primary;
    text-decoration: none;

    &:focus,
    &:hover {
        background-image: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.15));
    }
}

.c-button-group {
    .c-button {
        background-color: transparent;
        border-radius: 0;
        box-shadow: none;

        &:nth-child(n + 2) {
            border-left: 1px solid rgba(#000, 0.5);
        }
    }
}
