.c-card {
  header {
    border-radius: 5px;
    padding: 1.5rem 0;
    text-align: center;

    img {
      display: block;
      min-height: 100px;
      max-height: 100px;
      margin: 0 auto;
      width: 100px;
    }
  }

  p {
    margin-top: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
