table {
    @include margin(x, auto);

    border-collapse: collapse;
    width: 100%;

    thead tr {
        background-color: rgba(#000, 0.2);
    }

    td, th {
        @include padding(null, 3);

        border-right: $border-default;

        &:last-child {
            border-right-color: transparent;
        }

        p {
            margin: 0;
        }
    }

    tr {
        border-top: $border-default;

        &:last-child td {
            border-bottom-color: transparent;
        }

        &:nth-child(even) {
            background-color: rgba(#fff, 0.05);
        }
    }
}

@each $breakpoint in map-keys($breakpoints) {
    @include respond-down($breakpoint) {
        table.responsive-#{$breakpoint} {
            tr {
                display: flex;
                flex-wrap: wrap;
                width: 100%;
            }
        }
    }
}
