.c-theater {
    position: relative;

    @include respond-up(md) {
        padding-bottom: 45px;
    }
}

.c-theater__image {
    background-color: rgba($background-dark, 0.7);
    height: 550px;
    overflow: hidden;
    position: relative;
    z-index: -1;

    img {
        display: block;
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.c-theater__stage {
    @extend .p-3;

    background-color: rgba(#ffffff, 0.9);
    box-shadow: $box-shadow;
    color: #000;
    margin-top: -40%;

    @include respond-up(md) {
        bottom: 0;
        margin-top: 0;
        position: absolute;
        width: 500px;
    }
}
