{% extends '_layouts/base.html.twig' %}

{% block content_root %}
    {% include '_includes/navigation.html.twig' %}

    <main class="container background-dark">
        <div class="p-3">
            <div class="row">
                <aside class="col-lg-3 b-lg-right position-static">
                    {% block aside %}{% endblock %}
                </aside>

                <div class="col-lg-9">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}
