{% extends '_layouts/base.html.twig' %}

{% block content_root %}
    {% include '_includes/navigation.html.twig' %}

    <main class="container background-dark">
        <div class="p-3">
            {% block content %}{% endblock %}
        </div>
    </main>
{% endblock %}
