{% extends '_layouts/base.html.twig' %}

{% block content_root %}
    {% include '_includes/navigation.html.twig' %}

    <main class="container background-dark s-documentation">
        <div class="py-3 px-md-3">
            {% block content %}{% endblock %}
        </div>
    </main>
{% endblock %}
