{% extends '_layouts/base.html.twig' %}

{% block content_root %}
    <div class="container background-dark">
        <div class="py-3 px-md-3">
            <div class="l-sidebar">
                <div class="l-sidebar__introduction s-documentation">
                    {% block introduction %}{% endblock %}
                </div>

                <aside class="l-sidebar__sidebar">
                    <div class="position-sticky position-top-1 scrollable-sidebar">
                        {% block aside %}{% endblock %}
                    </div>
                </aside>

                <div class="l-sidebar__body">
                    <main class=" s-documentation">
                        {% block content %}{% endblock %}
                    </main>
                </div>

                {% if this.editable %}
                    <div class="l-sidebar__footer">
                        {% include "_includes/edit_me.html.twig" %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
