.s-documentation {
    h2 {
        border-bottom: $border-default;
        padding-bottom: 5px;
    }

    p {
        @include margin(y, 3);
    }

    kbd {
        background-color: white;
        border: 1px solid black;
        border-radius: $border-radius;
        color: black;
        display: inline-block;
        font-family: $font-stack-sans-serif;
        font-weight: bold;
        padding: 0 0.5em;
        white-space: nowrap;
    }

    .code,
    code,
    pre {
        background-color: $color-dark;
        font-family: $font-stack-monospace;
    }

    .code,
    code {
        @include padding(x, 1);

        border-radius: $border-radius;
        color: $color-secondary;
    }

    pre {
        @include margin(b, 3);
        @include padding(null, 3);

        white-space: pre;
        word-wrap: break-word;

        code {
            overflow-x: auto;
            overflow-y: hidden;
            padding: 0;
            white-space: pre;
        }
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    table p {
        margin: 0;
    }

    table td {
        border: $border-default;
        padding: 10px;
    }

    table th {
        padding-bottom: 10px;
    }

    table td:first-child {
        border-left-color: transparent;
    }

    table td:last-child {
        border-right-color: transparent;
    }

    table tr:last-child td {
        border-bottom-color: transparent;
    }
}
