.site-header {
    background: scrim-gradient();
    position: relative;

    a {
        text-shadow: 0 1px 10px rgba(0, 0, 0, 0.5), 0 0 30px rgba(0, 0, 0, 0.9);
    }
}

.site-header__brand {
    align-items: center;
    display: flex;

    img {
        margin-right: 5px;
        width: 30px;
    }

    span {
        font-size: 1.5em;
    }
}
