.site-search {
    @include respond-up(lg) {
        order: 100;
    }
}

.site-search__form {
    display: -ms-flexbox;
    display: flex;

    @include respond-down(lg) {
        @include padding(y, 3);
    }
}

.site-search__label {
    cursor: pointer;
    margin: 0;
}

.site-search__input {
    background-color: $color-primary;
    border: 0;
    border-bottom: $border-default;
    border-radius: $border-radius;
    color: $color-text-primary;
    font-size: 0.9rem;
    flex-grow: 1;
    transition: 0.4s width;

    @include respond-down(lg) {
        @include margin(l, 2);
    }

    @include respond-up(lg) {
        padding: 0;
        position: absolute;
        right: map-get($spacing, 3);
        top: calc(100% + 2rem);
        width: 0;

        &:focus {
            @include margin(l, 2);
            @include padding(x, 1);

            width: 190px;
        }
    }

    @include respond-up(xl) {
        position: static;
    }
}

.page-jumbotron .site-search__input {
    @include respond-up(lg) {
        top: calc(100% + 1rem);
    }
}

.site-search__icon {
    height: 18px;
    width: 18px;
}
