---
section: documentation
sectiontitle: Documentation
permalink: /documentation/developer/
title: Developer
parent:
---

{% extends "_layouts/layout.twig" %}

{% block content %}
    <p>The section contains documentation that is relevant for those wanting to compile the game or develop enhancements or additions for the game.</p>
    <ul>
      <li><a href="/documentation/developer/bzfs_api/">bzfs API</a></li>
    </ul>
{% endblock %}
